.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }

  .mycontent-left {
    border-right: 2px solid white;
  }

.white-head{
  color: white;
}

  .background {
    background: white;
    background: -webkit-linear-gradient(to right, #dcedc8, #81c784);
    background: linear-gradient(to right, #dcedc8, #81c784);
    margin-bottom: 0px;
  }
  