.circle-start {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 2;
}


.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #fff;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #fff;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #fff;
  width: 100%;
  position: relative;
  border-radius: 50px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

li.text-small{
  font-size: 0.95rem;
}

.experience {
  background: white;
  background: -webkit-linear-gradient(to right, #dcedc8, #81c784);
  background: linear-gradient(to right, #dcedc8, #81c784);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #999;
}

.testimonial-item {
  z-index: 2;
  border-radius: 25%;
  position: relative;
  max-width: 18rem;
}

 .testimonial-item img {
  max-width: 12rem;
  background-color: white;
}
